
SET NOCOUNT ON
GO


IF NOT EXISTS(SELECT top 1 1 FROM CWI_User where id = 1)
BEGIN
	SET IDENTITY_INSERT [dbo].[CWI_User] ON 

	INSERT [dbo].[CWI_User] ([Id], [Login], [Domain], [Names], [Email], [IsActive], [LastLoggedIn], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) 
	VALUES (1, N'System', N'oss', N'System', N'ClientWiseAdmin@xerox.com', 0, NULL, N'oss\msundaram', getdate(), N'oss\msundaram', getdate())
	SET IDENTITY_INSERT [dbo].[CWI_User] OFF
END

DECLARE @WindowsLogin varchar(100) 
DECLARE @FullName varchar(100) 
DECLARE @Email varchar(100) 
DECLARE @ADGroup varchar(100)
declare @ntlogin varchar(200)


SET @WindowsLogin = 'kbarlow'   --windows login name without domain
SET @FullName = 'Kevin Barlow'
SET @Email = 'KBarlow@transflo.com'
SET @ADGroup = 'Development'

SET @ntlogin = 'OSS\' + @WindowsLogin

declare @userid int
SET @userid = NULL

SELECT @userid = Id from CWI_User WHERE Login = @WindowsLogin

IF @userid is NULL
BEGIN
INSERT [dbo].[CWI_User] ( [Login], [Domain], [Names], [Email], [IsActive], [LastLoggedIn], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) 
	VALUES ( @WindowsLogin, N'oss', @FullName, @Email, 1, NULL, @ntlogin, getdate(), @ntlogin, getdate())

END
SELECT @userid = Id from CWI_User WHERE Login = @WindowsLogin
IF @userid IS NULL
BEGIN

	PRINT 'User ' + @WindowsLogin + ' not available in the table CWI_User'
	GOTO Goto_End;
END

/* CompanyConfig Table DATA Begins*/

SET IDENTITY_INSERT [dbo].[CompanyConfig] ON 


INSERT [dbo].[CompanyConfig] ([Id], [CompanyName], [AddressLine1], [AddressLine2], [CountryID], [StateID], [City], [Zip], [WorkPhone], [WorkExtn], [WorkFax], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) 
VALUES (1, N'ACS ADVERTISING', N'5210 MARYLAND WAY SUITE#301', N'', 1, 28, N'BRENTWOOD', N'37027', N'', N'', N'', 1, CAST(0x0000A19A0029C823 AS DateTime), 1, CAST(0x0000A19A0029C823 AS DateTime))

SET IDENTITY_INSERT [dbo].[CompanyConfig] OFF


/* CompanyConfig Table DATA Ends*/


/*
 The data for following tables inserted
 CITI_Lookup
COMDATATemplate

[CWI_Activity]
[CWI_ClassificationJob_LifeCycle]
[CWI_ClassificationProduct]
CWI_CorrespodenceDeliveryEmailTemplate
CWI_CorrespondenceDeliveryMethod
[CWI_EmailTemplate]
[CWI_Menu]
[CWI_MenuActivity]
CWI_PayMethodMessage
CWI_PasswordRule

[LookupType]
[Lookup]



*/
/* LookupType Table DATA Begins*/
INSERT [dbo].[LookupType] ([Id], [LookupTypeName], [RangeStarting], [RangeEnding], [CreatedBy], [CreatedOn]) VALUES (1, N'Supporting Document', 1, 200, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))
INSERT [dbo].[LookupType] ([Id], [LookupTypeName], [RangeStarting], [RangeEnding], [CreatedBy], [CreatedOn]) VALUES (2, N'Object', 201, 400, N'oss\vmahi', CAST(0x0000A16B00000000 AS DateTime))
INSERT [dbo].[LookupType] ([Id], [LookupTypeName], [RangeStarting], [RangeEnding], [CreatedBy], [CreatedOn]) VALUES (3, N'Classification', 401, 500, N'oss\vmahi', CAST(0x0000A1740075674C AS DateTime))
 
/* LookupType Table DATA Ends*/

/* Lookup Table DATA Begins*/
INSERT [dbo].[Lookup] ([Id], [LookupTypeId], [LookupName], [SortOrder], [IsActive], [IsSystemGenerated], [CreatedBy], [CreatedOn]) VALUES (1, 1, N'Insertion Order', 0, 1, 0, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))
INSERT [dbo].[Lookup] ([Id], [LookupTypeId], [LookupName], [SortOrder], [IsActive], [IsSystemGenerated], [CreatedBy], [CreatedOn]) VALUES (2, 1, N'Quote', 0, 1, 0, N'oss\msundaram', CAST(0x00009FF000000000 AS DateTime))
INSERT [dbo].[Lookup] ([Id], [LookupTypeId], [LookupName], [SortOrder], [IsActive], [IsSystemGenerated], [CreatedBy], [CreatedOn]) VALUES (3, 1, N'Cancellation', 0, 1, 0, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))




/* Lookup Table DATA Ends*/

/* CWI_Menu Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_Menu] ON 


INSERT [dbo].[CWI_Menu] ([Id], [ApplicationId], [MenuCaption], [MenuLocation], [MenuPage], [IsActive], [SortOrder], [ParentId], [IsHidden], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 1, N'Administration', N'', N'', 1, 90, NULL, 0, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))
INSERT [dbo].[CWI_Menu] ([Id], [ApplicationId], [MenuCaption], [MenuLocation], [MenuPage], [IsActive], [SortOrder], [ParentId], [IsHidden], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 1, N'Service', N'', N'Service.aspx', 1, 3, NULL, 0, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))
INSERT [dbo].[CWI_Menu] ([Id], [ApplicationId], [MenuCaption], [MenuLocation], [MenuPage], [IsActive], [SortOrder], [ParentId], [IsHidden], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 1, N'Client', N'', N'Client.aspx', 1, 1, NULL, 0, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime))


SET IDENTITY_INSERT [dbo].[CWI_Menu] OFF

/* CWI_Menu Table DATA Ends*/

/* CWI_Activity Table DATA Begins*/

SET IDENTITY_INSERT [dbo].[CWI_Activity] ON 


INSERT [dbo].[CWI_Activity] ([Id], [ActivityName], [ActivityLocation], [ActivityPage], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ActivityImage], [IsFeature]) VALUES (1, N'New Client', N'', N'Client.aspx', 1, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'AddIcon.png', 0)
INSERT [dbo].[CWI_Activity] ([Id], [ActivityName], [ActivityLocation], [ActivityPage], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ActivityImage], [IsFeature]) VALUES (2, N'New Vendor', N'', N'Vendor.aspx', 1, N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'oss\msundaram', CAST(0x0000A15E00000000 AS DateTime), N'AddIcon.png', 0)
INSERT [dbo].[CWI_Activity] ([Id], [ActivityName], [ActivityLocation], [ActivityPage], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ActivityImage], [IsFeature]) VALUES (4, N'New Service', N'', N'Service.aspx', 1, N'oss\athacker', CAST(0x0000A17700000000 AS DateTime), N'oss\athacker', CAST(0x0000A17700000000 AS DateTime), N'AddIcon.png', 0)

SET IDENTITY_INSERT [dbo].[CWI_Activity] OFF



/* CWI_Activity Table DATA Ends*/

/* CWI_MenuActivity Table DATA Begins*/

SET IDENTITY_INSERT [dbo].[CWI_MenuActivity] ON 


INSERT [dbo].[CWI_MenuActivity] ([Id], [MenuId], [ActivityId], [SortOrder]) VALUES (1, 3, 1, 1)
INSERT [dbo].[CWI_MenuActivity] ([Id], [MenuId], [ActivityId], [SortOrder]) VALUES (2, 5, 2, 1)
INSERT [dbo].[CWI_MenuActivity] ([Id], [MenuId], [ActivityId], [SortOrder]) VALUES (3, 2, 4, 1)

SET IDENTITY_INSERT [dbo].[CWI_MenuActivity] OFF



/* CWI_MenuActivity Table DATA Ends*/

/* CWI_ClassificationProduct Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_ClassificationProduct] ON 

INSERT [dbo].[CWI_ClassificationProduct] ([Id], [ClassificationLookupId], [ProductTypeLookupId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 401, 1001, 1, N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime), N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime))
INSERT [dbo].[CWI_ClassificationProduct] ([Id], [ClassificationLookupId], [ProductTypeLookupId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 401, 1002, 1, N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime), N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime))
INSERT [dbo].[CWI_ClassificationProduct] ([Id], [ClassificationLookupId], [ProductTypeLookupId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (4, 401, 1003, 1, N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime), N'OSS\msundaram', CAST(0x0000A17A00315B64 AS DateTime))

SET IDENTITY_INSERT [dbo].[CWI_ClassificationProduct] OFF

/* CWI_ClassificationProduct Table DATA Ends*/

/* CWI_ClassificationJob_LifeCycle Table DATA Begins*/


SET IDENTITY_INSERT [dbo].[CWI_ClassificationJob_LifeCycle] ON 


INSERT [dbo].[CWI_ClassificationJob_LifeCycle] ([ID], [ClassLookupID], [LifeCycleLookupID], [FlowOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 401, 4001, 1, 1, CAST(0x0000A26000000000 AS DateTime), 1, CAST(0x0000A26000000000 AS DateTime))
INSERT [dbo].[CWI_ClassificationJob_LifeCycle] ([ID], [ClassLookupID], [LifeCycleLookupID], [FlowOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (4, 401, 4002, 2, 1, CAST(0x0000A26000000000 AS DateTime), 1, CAST(0x0000A26000000000 AS DateTime))
INSERT [dbo].[CWI_ClassificationJob_LifeCycle] ([ID], [ClassLookupID], [LifeCycleLookupID], [FlowOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (5, 401, 4003, 3, 1, CAST(0x0000A26000000000 AS DateTime), 1, CAST(0x0000A26000000000 AS DateTime))

SET IDENTITY_INSERT [dbo].[CWI_ClassificationJob_LifeCycle] OFF



/* CWI_ClassificationJob_LifeCycle Table DATA Ends*/

/* CWI_EmailTemplate Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_EmailTemplate] ON 

INSERT [dbo].[CWI_EmailTemplate] ([Id], [TemplateName], [IsActive], [IsSystemLevel], [TemplateFile], [TemplateSubject], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'InsertionOrderAPAS', 1, 1, N'InsertionOrderAPAS.html', N'Insertion Order for MMRPO - {MMRPO} from Multimedia Advertising - Important Message - Do Not Delete - Open Immediately', 1, CAST(0x0000A2BF0170E711 AS DateTime), 1, CAST(0x0000A2BF0170E711 AS DateTime))
INSERT [dbo].[CWI_EmailTemplate] ([Id], [TemplateName], [IsActive], [IsSystemLevel], [TemplateFile], [TemplateSubject], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'InsertionOrderEmail', 1, 1, N'InsertionOrderEmail.html', N'Insertion Order for MMRPO - {MMRPO} from Multimedia Advertising - Important Message - Do Not Delete - Open Immediately', 1, CAST(0x0000A2BF01711B18 AS DateTime), 1, CAST(0x0000A2BF01711B18 AS DateTime))
INSERT [dbo].[CWI_EmailTemplate] ([Id], [TemplateName], [IsActive], [IsSystemLevel], [TemplateFile], [TemplateSubject], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'InsertionOrderFtp', 1, 1, N'InsertionOrderFtp.html', N'Insertion Order for MMRPO - {MMRPO} from Multimedia Advertising - Important Message - Do Not Delete - Open Immediately', 1, CAST(0x0000A2BF017134FC AS DateTime), 1, CAST(0x0000A2BF017134FC AS DateTime))

SET IDENTITY_INSERT [dbo].[CWI_EmailTemplate] OFF
 

/* CWI_EmailTemplate Table DATA Ends*/

/* CWI_CorrespodenceDeliveryEmailTemplate Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_CorrespodenceDeliveryEmailTemplate] ON 


INSERT [dbo].[CWI_CorrespodenceDeliveryEmailTemplate] ([Id], [CorrespodenceLookupId], [DeliveryMethodLookupId], [EmailTemplateId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 701, 803, 1, 1, 1, CAST(0x0000A2BF01764036 AS DateTime), 1, CAST(0x0000A2BF01764036 AS DateTime))

INSERT [dbo].[CWI_CorrespodenceDeliveryEmailTemplate] ([Id], [CorrespodenceLookupId], [DeliveryMethodLookupId], [EmailTemplateId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 701, 801, 2, 1, 1, CAST(0x0000A2BF017674CD AS DateTime), 1, CAST(0x0000A2BF017674CD AS DateTime))

INSERT [dbo].[CWI_CorrespodenceDeliveryEmailTemplate] ([Id], [CorrespodenceLookupId], [DeliveryMethodLookupId], [EmailTemplateId], [IsActive], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 701, 805, 4, 1, 1, CAST(0x0000A2BF01769D5A AS DateTime), 1, CAST(0x0000A2BF01769D5A AS DateTime))


















SET IDENTITY_INSERT [dbo].[CWI_CorrespodenceDeliveryEmailTemplate] OFF




 
/* CWI_CorrespodenceDeliveryEmailTemplate Table DATA Ends*/

/* [CITI_Lookup] Table DATA */

INSERT [dbo].[CITI_Lookup] ([LookupID], [LookupName], [LookupValue], [IsActive], [CreatedBy], [CreatedOn]) VALUES (1, N'Application_RequestLookupID', N'CreateApprovedPurchaseRequest', 1, NULL, CAST(0x0000A09000B114D0 AS DateTime))
INSERT [dbo].[CITI_Lookup] ([LookupID], [LookupName], [LookupValue], [IsActive], [CreatedBy], [CreatedOn]) VALUES (2, N'Application_RequestLookupID', N'ModifyApprovedPurchaseRequest', 1, NULL, CAST(0x0000A09000B11D04 AS DateTime))
INSERT [dbo].[CITI_Lookup] ([LookupID], [LookupName], [LookupValue], [IsActive], [CreatedBy], [CreatedOn]) VALUES (3, N'Application_RequestLookupID', N'GetVCNAuthsByVCardRequest', 1, NULL, CAST(0x0000A09000B1240C AS DateTime))


/* [CITI_Lookup] Table DATA Ends*/

/* COMDATATemplate Table DATA Begins*/

SET IDENTITY_INSERT [dbo].[COMDATATemplate] ON 

INSERT [dbo].[COMDATATemplate] ([ID], [Name], [Description], [Priority], [Created]) VALUES (1, N'CC Request', N'Virtual Temporary MC Card Add Request Via RTIF - TS00033', 1, CAST(0x0000944600A14E7F AS DateTime))
INSERT [dbo].[COMDATATemplate] ([ID], [Name], [Description], [Priority], [Created]) VALUES (2, N'Update Request', N'Virtual Temporary MC Card Update Request Via RTIF - TS00034', 2, CAST(0x0000944600A17C44 AS DateTime))

SET IDENTITY_INSERT [dbo].[COMDATATemplate] OFF


/* [[COMDATATemplate]] Table DATA Ends*/

/* CWI_PayMethodMessage Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_PayMethodMessage] ON 

INSERT [dbo].[CWI_PayMethodMessage] ([Id], [PayMethodLookupId], [PayMsg1], [PayMsg2], [PayMsg3], [PayMsg4], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 851, N'PLEASE SEND INVOICE: TMI', N'5210 MARYLAND WAY Suite 301', N'BRENTWOOD, TN 37027', N'ATTN: A/P', N'OSS\msundaram', CAST(0x0000A37F0000959E AS DateTime), N'OSS\msundaram', CAST(0x0000A37F0000959E AS DateTime))
INSERT [dbo].[CWI_PayMethodMessage] ([Id], [PayMethodLookupId], [PayMsg1], [PayMsg2], [PayMsg3], [PayMsg4], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 852, N'CHARGE TO: XEROX ACS VCA', N'2828 N Haskell Ave', N'Dallas, TX 75204', N'MASTERCARD: {CCNO}EXP: {EXP}CVC: {CVC}', N'OSS\msundaram', CAST(0x0000A37F00031FAE AS DateTime), N'OSS\msundaram', CAST(0x0000A37F00031FAE AS DateTime))
INSERT [dbo].[CWI_PayMethodMessage] ([Id], [PayMethodLookupId], [PayMsg1], [PayMsg2], [PayMsg3], [PayMsg4], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 854, N'CHARGE TO: XEROX CORPORATION', N'2828 N Haskell Ave', N'Dallas, TX 75204', N'MASTERCARD: 5405-9800-0666-9975 EXP: 08/17 CVC: 557', N'OSS\msundaram', CAST(0x0000A37F00032DE4 AS DateTime), N'OSS\msundaram', CAST(0x0000A37F00032DE4 AS DateTime))

SET IDENTITY_INSERT [dbo].[CWI_PayMethodMessage] OFF

/* CWI_PayMethodMessage Table DATA Ends*/

/* CWI_PasswordRule Table DATA Begins*/
SET IDENTITY_INSERT [dbo].[CWI_PasswordRule] ON 

INSERT [dbo].[CWI_PasswordRule] ([Id], [MaxLoginAttempts], [MinimumPasswordLength], [PasswordHistoryEnabled], [PasswordHistoryCount], [PasswordExpireEnabled], [PasswordExpirePeriod], [UserInactiveEnabled], [UserInactivePeriod], [PasswordPassPhrase]) VALUES (1, 3, 8, 1, 12, 1, 60, 1, 90, N'DfzRt$fdn))dhg+')

SET IDENTITY_INSERT [dbo].[CWI_PasswordRule] OFF

/* CWI_PasswordRule Table DATA Ends*/


SET IDENTITY_INSERT [dbo].[CWI_CorrespondenceDeliveryMethod] ON 

INSERT [dbo].[CWI_CorrespondenceDeliveryMethod] ([ID], [CorrespondenceLookupId], [DeliveryMethodLookupId], [IsActive], [CreatedBy], [CreatedOn]) VALUES (7, 701, 801, 1, 1, CAST(0x0000A3CB003C60B3 AS DateTime))

INSERT [dbo].[CWI_CorrespondenceDeliveryMethod] ([ID], [CorrespondenceLookupId], [DeliveryMethodLookupId], [IsActive], [CreatedBy], [CreatedOn]) VALUES (8, 701, 802, 1, 1, CAST(0x0000A3CB003C60B3 AS DateTime))

INSERT [dbo].[CWI_CorrespondenceDeliveryMethod] ([ID], [CorrespondenceLookupId], [DeliveryMethodLookupId], [IsActive], [CreatedBy], [CreatedOn]) VALUES (9, 701, 803, 1, 1, CAST(0x0000A3CB003C60B3 AS DateTime))
























SET IDENTITY_INSERT [dbo].[CWI_CorrespondenceDeliveryMethod] OFF

/*  Setting Production Data for Production */

UPDATE lookup SET LookupName='Clientwise Help' where LookupTypeId  =16 /* DatabaseEmailProfileName */
UPDATE lookup SET LookupName='KBarlow@transflo.com' where LookupTypeId  = 41 /* ClientActivationEmail */
UPDATE lookup SET LookupName='KBarlow@transflo.com' where LookupTypeId  = 42 /* VendorActivationEmail  */
UPDATE lookup SET LookupName='KBarlow@transflo.com' where LookupTypeId  = 43 /* DefaultEmailAddress  */

INSERT INTO CWI_DocCategory
SELECT id,4/*General*/,1,'oss\msundaram',getdate(),getdate(),'oss\msundaram' FROM Lookup
where LookupTypeId = 2 /* Object */
and id in
(
201,
202,
203,
204,
205,
206,
211,
212
)


INSERT INTO CWI_DocCategory
SELECT id,5/*Ad Copy Doc*/,1,'oss\msundaram',getdate(),getdate(),'oss\msundaram' FROM Lookup
where LookupTypeId = 2 /* Object */
and id in
(
205/* Job */
)

EXEC prc_Data_SetClientDataFromTMIMMRDB
EXEC prc_Data_SetVendorDataFromTMIMMRDB

/*  END - Setting Production Data for Production */



Goto_End:
    --PRINT 'DONE.'

	-- exec dbo.prc_CWI_GetMenusByGroups @groups='IDC,',@author='OSS\msundaram',@IsGroupInsert=1
SET NOCOUNT OFF

GO
