
/****** Object:  StoredProcedure [dbo].[prc_CWI_GetClientProfileHiringPosition]    Script Date: 9/12/2013 2:39:38 PM ******/
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'prc_CWI_GetClientProfileHiringPosition')
DROP PROCEDURE [dbo].[prc_CWI_GetClientProfileHiringPosition]
GO
/****** Object:  StoredProcedure [dbo].[prc_CWI_GetClientProfileHiringPosition]    Script Date: 9/12/2013 9:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************  
* PROCEDURE: prc_CWI_GetClientProfileHiringPosition 
* Purpose : This PROC would be called to retrieve the profile hiring position details for a specific client/division
* Invoked from : Profile_JobOverview.aspx
* CREATED: Vijesh Mahi
* MODIFICATION HISTORY  
* DATE      AUTHOR          DESCRIPTION              

**********************************************************************  
Execution example :
********************************************************************** 
exec prc_CWI_GetClientProfileHiringPosition 14174
**********************************************************************/ 
  
CREATE PROCEDURE [dbo].[prc_CWI_GetClientProfileHiringPosition]       
@inClientId int
AS
BEGIN

	BEGIN TRY
		
		SELECT P.[ID] as ProfileID,[HiringPositionID],H.HiringPosition AS HiringPositionName
		FROM [dbo].[CWI_ClientProfileHiringPosition] AS P
		INNER JOIN [dbo].[CWI_CPL_HiringPosition] AS H ON H.ID=P.HiringPositionID
		WHERE [ClientID]=@inClientId	
			
	END TRY
	BEGIN CATCH	
		EXEC prc_CWI_AppRaiseError;
		THROW;   		
	END CATCH

END
	
	
GO
