/****** Object:  StoredProcedure [dbo].[prc_CWI_GetClassificationByJobId]    Script Date: 7/10/2014 7:04:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prc_CWI_GetClassificationByJobId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[prc_CWI_GetClassificationByJobId]
GO

/****** Object:  StoredProcedure [dbo].[prc_CWI_GetClassificationByJobId]    Script Date: 7/10/2014 7:04:48 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prc_CWI_GetClassificationByJobId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'/*******************************************************************  
* PROCEDURE: prc_CWI_GetClassificationByJobId
* Purpose : This PROC would be called TO get the classification
* Invoked from : Child/Tasks.aspx
* CREATED: Saravanan M  21 Nov 2013
* MODIFICATION HISTORY  
* DATE      AUTHOR          DESCRIPTION  
            

**********************************************************************  
Execution example :
**********************************************************************  
exec prc_CWI_GetClassificationByJobId @JobId=2
  
**********************************************************************/ 
CREATE PROCEDURE [dbo].[prc_CWI_GetClassificationByJobId] 
@JobId BigInt
AS
BEGIN
	Select top 1 ClassificationId from CWI_Job where ID=@JobId;
END

' 
END
GO


